@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "OpenSans";
    src: url("../../fonts/opensans/OpenSans-Regular.ttf");
  }
}

html {
  -webkit-text-size-adjust: none;
}

.container {
  overflow: hidden;
}

.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}
